
@media (max-width: 1156px){
	/*.services_items{
		display: block;
	}*/

	.services_item{
		max-width: 80%;
		min-height: 300px;
		margin: 30px auto;
	}
	.form_inner{
		background-image: none;
	}
	.news_inner{
		display: block;
	}
	.news_slider{
		max-width: 100%;
		margin-bottom: 110px;
	}

	.news_blog{
		display: block;
		max-width: 100%;
		margin-bottom: 30px;

	}
	.news_blog:after{
		content: "";
		clear: both;
		display: block;

	}

	.news_images{
		float: left;
		margin-right: 50px;
	}
	.news_slider-inner .slick-btn {
		top: auto;
		bottom: -100px;
	}
	.news{
		padding-bottom: 60px;
	}
	.footer_info{
		
		margin-bottom: 25px;
	}
}

@media (max-width: 1050px){
	.footer_inner{
		display: block;
	}
	.footer_map{
		max-width: 100%;
	}
}

@media (max-width: 900px){
	.slider .slick-btn{
		display: none !important;
	}

	.services_top,
	.news_top{
		display: block;
		padding-bottom: 0px;
	}
	.services_title-box,
	.form_title-box,
	.news_title-box{
		padding-left: 0;
		text-align: center;
		margin: 0 auto 30px;

	}
	.services_title-box:before,
	.form_title-box:before,
	.news_title-box:before{
		display: none;
	}

	.services_btn,
	.news_btn{		
		text-align: center;
		margin-bottom: 30px;
	}
	.form_box-inner{
		display: block;
	}

	.form_box-left{
		max-width: 100%;

	}
	.form_box-right{
		max-width: 100%;		
	}

	.advantages_inner{
		display: block;
	}
	.advantages_item{
		min-width: 100%;
		margin-bottom: 30px;
	}

	.news_slider-inner .slick-btn {
		top: auto;
		bottom: -100px;
	}

}

@media (max-width: 700px){
	.header_btn{
		float: none;
	}
	.header_contacts{
		text-align: center;		
	}
	.header_btn:before{
		display: none;
	}

	.footer_info .header_btn:before{
		display: block;
	}
	.header_btn-menu{
		padding-right: 5px;
		display: block;
		margin-top: 45px
	}
	.header_nav{
		margin-top: 15px;
	}

	.menu ul{
		display: none;
		position: absolute;
		left: 0;
		right: 0;	
		z-index: 50;	
	}
	.menu li{
		display: block;
		text-align: center;
		margin-top: 0;
	}
	.menu a{
		display: block;
		background: #06435d;
		margin: 0;
		height: 100%;		
	}

	#header_btn-check:checked+.header_nav{
		display: block;
	}

	#header_btn-check:checked+.header_nav li{
		display: block;
		padding-left: 0;
		width: 100%;
		padding-top: 0;
	}
	.header_content{
		padding-top: 5px;
	}
	.news_slider-inner .slick-btn {
		top: auto;
		bottom: -100px;
	}
}

@media (max-width: 600px){
	
	.services_item{
		max-width: 100%;		
		margin: 30px auto;
	}
	.news_slider-inner .slick-btn {
		top: auto;
		bottom: -100px;
	}

}

@media (max-width: 540px){
	.news_slider{
		padding: 50px 15px 25px 25px;
		margin-bottom: 150px;
	}
	.news_slider:before{
		left: 25px;
	}
	.news_slider-inner, .slick-next{
		right: -20px;
	}
	.news_slider-inner, .slick-prev{
		right: 15px;		
	}	
		.news_images{
			float: none;
		}
	
		.news_slider-inner .slick-btn {
			top: auto;
			bottom: -80px;
		}
		
	}

	@media (max-width: 414px){
		.slider_title{
			font-size: 24px;
		}
		.slider_text{
			font-size: 16px;
		}

	}

	@media (max-width: 400px){
		.header_btn:before{
			display: block;
		}
		.services-text{
			padding-left: 0;
		}
		.advantages_item{
			padding: 0;
		}
	}

	@media (max-width: 375px){
		.header_email{
			padding-right: 30px;
		}
		.services_item-title,
		.services_item {
			min-width: initial;
		}
		.services_item-link{
			margin-right: 20px;
			margin-bottom: 5px;
			padding-top: 0px;
		}
	}